/* ---- 💫 https://github.com/JaKooLit 💫 ---- */
/* Main Config (long) - emoji */

@import "~/.config/rofi/config-long.rasi" 

/* ---- Entry ---- */
entry {
  width: 45%;
  placeholder: "💫 Search Emojis";
}
